.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
  height: 100px;
  background-color: white;
  box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.05);
  margin-top: auto;
}

.footer a {
  margin: 0 16px;
  text-decoration: none;
  color: #003b7e;
  font-size: 14px;
}